<nav class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #232323; position: -webkit-sticky; position: sticky; top: 0px; z-index: 10;">

  <span class="navbar-brand"
    style="font-size: 2rem; border: 0px solid var(--white); color: var(--white)">Tendoledu</span>
  <!-- collapse btn when small screen -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Introduction <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#how-it-works">How it Works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#student-gains">Student Gains <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div style="float: right; margin: 0px auto">
    <a href="/users/register" class="gradient-button-b btn" style="margin: 15px 15px;"><b>Register</b></a>
    <a href="/users/login" class="gradient-button btn" style="margin: 15px 15px;"><b>Login</b></a>
  </div>
</nav>






<div style="padding: 45px 0px; background-color: #FAFAFA; color: #232323; text-align: center">
  <h2>WOW Your Future Employers!</h1>
    <span style="padding: 10px 0px; font-size: 1.85rem; margin-left: 15px">Use Tendoledu and Get Your Real Work
      Experience</span>
    <div style="text-align: center; margin: 50px auto;">
      <img style="width: 100%; margin: 0 auto;" src="imgs/1-web header copy.svg" alt="img1">
      <a href="/users/register" id="web-header-a" class="gradient-button btn btn-primary"
        style="margin: 0px auto; margin-left: 0px; margin-top: 0px; position: relative; top: -100px"><b>
          Register NOW
        </b></a>
    </div>
    <p style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 1.2rem">Prove Your Worth<br>
      Show Employers What You Can Actually Do!</p>

    <a href="/users/register" id="web-header-b" class="gradient-button btn btn-primary" style="margin: 50px auto;"><b>
        Register NOW
      </b></a>

</div>







<div style="background-color: var(--blue-a);" id="how-it-works">
  <h1 style="text-align: center; color:white; padding: 50px 0px;">How it Works</h1>

  <div id="card-section-a" class="card-deck container" style="margin: 0 auto; max-width: 75%;">

    <div class="card shadow-lg" style="border-radius: 15px; padding: 15px 0; ">
      <div style="height: 40%; text-align: center;">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/2-pick.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">Apply</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">Apply to online Workspaces
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 15px; padding: 15px 0">
      <div style="height: 40%; text-align: center">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/3-work.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">WORK</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0;">Work with other students on assigned projects
          from actual startups.
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 15px; padding: 15px 0">
      <div style="height: 40%; text-align: center">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/4-share.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">SHARE</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">Share​ your progress and rated projects ​with
          employers
        </p>
      </div>
    </div>
  </div>

  <h3 style="color:white; text-align:center; padding: 50px 0; margin-top: 50px">Don’t miss out on a chance to work on
    hundreds of startup
    projects. <br> Build your portfolio and impress your employers</h3>

  <div style="text-align: center;">
    <a href="/users/register" class="gradient-button btn btn-primary" style="margin: 50px auto;"><b>
        Register Now
      </b></a>
  </div>
</div>










<div style="background-color: var(--white); padding: 50px;" id="student-gains">
  <h1 style="text-align: center; color: var(--dark-grey); padding: 50px 0px;">What Exactly Do I Gain?</h1>

  <div id="card-section-b" class="card-deck" style="max-width: 60vw; margin: 0 auto">

    <div class="card shadow-lg" style="border-radius: 15px; padding: 15px 0">
      <div style="text-align: center; padding: 15px 25px  ">
        <img class="card-img-top" style=" margin: 0 auto;" src="imgs/work (3).svg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">HANDS-ON WORK EXPERIENCE</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">
          Most online courses always end up with you staring at a screen and consuming content.
          <br><br>
          While there is nothing wrong with that,
          getting to work on some real projects is the remaining half of Your learning experience.
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 15px; padding: 15px 0">
      <div style="text-align: center; padding: 15px 25px">
        <img class="card-img-top" style=" margin: 0 auto;" src="imgs/recognition (1).svg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">SHAREABLE WORK PORTFOLIOS</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">
          After startups rate and review your finished projects, you can showcase your work to employers easily with
          Tendoledu.
          Now employers can recognize all of your work and effort.
        </p>
      </div>
    </div>

  </div>

  <h3 style="color:var(--dark-grey); text-align:center; padding: 75px 0; margin-top: 25px">Impress your employers with
    your online work!
  </h3>


  <div style="text-align: center; margin: 25px 0">
    <a href="/users/register" class="gradient-button btn btn-primary" style="margin: 0px auto;"><b>
        Register Now
      </b></a>
  </div>
</div>





<div class="footer">
  <p style="color: white; text-align: center">&copy; 2019 Tendoledu</p>
</div>