<nav class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #040e2b; position: -webkit-sticky; position: sticky; top: 0px; z-index: 10;">

  <span class="navbar-brand"
    style="font-size: 2rem; border: 0px solid var(--white); color: var(--white)">Tendoledu</span>
  <!-- collapse btn when small screen -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Introduction <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#how-it-works">How it Works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#student-gains">Student Gains <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div style="float: right; margin: 0px auto">
    <a href="/users/register" class="gradient-button-b btn" style="margin: 15px 15px;"><b>Register</b></a>
    <a href="/users/login" class="gradient-button btn" style="margin: 15px 15px;"><b>Login</b></a>
  </div>
</nav>



<style>
  .context {
    width: 100%;
    position: absolute;
    top: 50vh;

  }

  .context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
  }


  .area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;


  }

  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(130, 157, 255, 0.362);
    animation: animate 25s linear infinite;
    bottom: -150px;

  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }


  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }



  @keyframes animate {

    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }

  }
</style>

<div class="area" style=" background-color: #eaeafe;
opacity: 1;
background: linear-gradient(135deg, rgba(4, 14, 43, 0.37)55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, rgba(4, 14, 43, 0.37) 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, rgba(4, 14, 43, 0.37)55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, rgba(4, 14, 43, 0.37) 25%, #eaeafe 25%) 0px 0/ 80px 80px;
padding: 45px 0px; color: #232323; text-align: center;">



  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h2>WOW Your Future Employers!</h1>
    <span style=" padding: 10px 0px; font-size: 1.85rem; margin-left: 15px">Use Tendoledu and Get Your Real Work
      Experience</span>
    <div style="text-align: center; margin: 50px auto; max-height: 20rem">
      <img style="width: 100%; margin: 0 auto;" src="imgs/1-web header copy.svg" alt="img1">
      <style>
        #web-header-a {
          top: -10em;
          position: relative;
          /* padding: 2em 2em 14em; */
          border-radius: 0;
          transform: skew(345deg, 355deg);
        }

        #web-header-a:hover {
          box-shadow: 0px 9px 35px -15px #213f84;
        }
      </style>
      <a href="/users/register" id="web-header-a" class="gradient-button btn btn-primary"><b>
          Register NOW
        </b></a>
    </div>
    <p style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 1.2rem">Prove Your Worth<br>
      Show Employers What You Can Actually Do!</p>

    <a href="/users/register" id="web-header-b" class="gradient-button btn btn-primary" style="margin: 50px auto;"><b>
        Register NOW
      </b></a>

</div>





<div style="background-color: var(--blue-a);" id="how-it-works">
  <h1 style="text-align: center; color:white; padding: 50px 0px;">How it Works</h1>

  <div id="card-section-a" class="card-deck container" style="margin: 0 auto; max-width: 75%;">
    <style>
      .card {
        height: fit-content !important;
      }
    </style>

    <div class="card shadow-lg" style="border-radius: 2em; padding: 15px 0; ">
      <div style="height: 40%; text-align: center;">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/2-pick.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">Apply</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">Apply to online Workspaces
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 2em; padding: 15px 0">
      <div style="height: 40%; text-align: center">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/3-work.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">WORK</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0;">Work with other students on assigned projects
          from actual startups.
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 2em; padding: 15px 0">
      <div style="height: 40%; text-align: center">
        <img class="card-img-top" style="height: 100%; margin: 0 auto; padding: 25px" src="imgs/4-share.svg"
          alt="Card image cap">
      </div>

      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">SHARE</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">Share​ your progress and rated projects ​with
          employers
        </p>
      </div>
    </div>
  </div>

  <h3 style="color:white; text-align:center; padding: 50px 0; margin-top: 50px">Don’t miss out on a chance to work on
    hundreds of startup
    projects. <br> Build your portfolio and impress your employers</h3>

  <div style="text-align: center;">
    <a href="/users/register" class="gradient-button btn btn-primary" style="margin: 50px auto;"><b>
        Register Now
      </b></a>
  </div>
</div>










<div style="background-color: var(--white); padding: 50px;" id="student-gains">
  <h1 style="text-align: center; color: var(--dark-grey); padding: 50px 0px;">What Exactly Do I Gain?</h1>

  <div id="card-section-b" class="card-deck" style="max-width: 60vw; margin: 0 auto">

    <div class="card shadow-lg" style="border-radius: 2em; padding: 15px 0">
      <div style="text-align: center; padding: 15px 25px  ">
        <img class="card-img-top" style="margin: 0 auto; width: 90%;" src="imgs/work (3).svg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">HANDS-ON WORK EXPERIENCE</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">
          Most online courses always end up with you staring at a screen and consuming content.
          <br><br>
          While there is nothing wrong with that,
          getting to work on some real projects is the remaining half of Your learning experience.
        </p>
      </div>
    </div>

    <div class="card shadow-lg" style="border-radius: 2em; padding: 15px 0">
      <div style="text-align: center; padding: 15px 25px">
        <img class="card-img-top" style="margin: 0 auto; width: 90%;" src="imgs/recognition (1).svg"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title" style="color: var(--blue-a); text-align: center;">SHAREABLE WORK PORTFOLIOS</h5>
        <p class="card-text" style="text-align: center; padding: 25px 0">
          After startups rate and review your finished projects, you can showcase your work to employers easily with
          Tendoledu.
          Now employers can recognize all of your work and effort.
        </p>
      </div>
    </div>

  </div>

  <h3 style="color:var(--dark-grey); text-align:center; padding: 75px 0; margin-top: 25px">Impress your employers with
    your online work!
  </h3>


  <div style="text-align: center; margin: 25px 0">
    <a href="/users/register" class="gradient-button btn btn-primary" style="margin: 0px auto;
    font-size: 2em;
    padding: 1em 3em;
    box-shadow: 0 !important;
    border: 0 !important;
    background: #444444 !important;
    transform: skew(191deg, 191deg);"><b>
        Register Now
      </b></a>
  </div>
</div>





<div class="footer">
  <p style="color: white; text-align: center">&copy; 2019 Tendoledu</p>
</div>